html {
    background-color: black;
    align-items: center;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}

img {
    margin: 1.4%;
    width: 40%;
    height: 40%;
    margin-left: 15%;
    font-size: 40px;
    padding: 15%;
    align-items: center;
    border-bottom-width: 30px;
    border-style: solid;
    border-width: 50px;
    border-color: azure;
}

img:hover {
    box-shadow: red;
    filter: grayscale(100%);
    transition: 1s;
}

.container_flex {
    display: flex;
}